# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
ENV/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Database
# ===============================
*.db
instance/

# ===============================
# Flask / Logs
# ===============================
*.log
flask_session/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Migrations cache
# ===============================
migrations/__pycache__/
