<!DOCTYPE html>
<html>
<head>
    <title>Register | PHMS</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/loading-states.css') }}">
    <script src="{{ url_for('static', filename='js/loading-states.js') }}"></script>
</head>

<body>

<div class="box">
    <h2>User Registration</h2>

    <input id="username" placeholder="Username">
    <input id="email" type="email" placeholder="Email">
    <input id="password" type="password" placeholder="Password">

    <input id="age" type="number" placeholder="Age">

    <select id="gender">
        <option value="">Select Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select>

    <input id="height" type="number" step="0.1" placeholder="Height (cm)">
    <input id="weight" type="number" step="0.1" placeholder="Weight (kg)">

    <button id="registerBtn">Register</button>

        <!-- login link -->
    <div class="login-link">
        Already had an Account? <a href="{{ url_for('login') }}">login</a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>

</body>
</html>