<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Your PHMS Password</title>
</head>
<body style="font-family: Arial, sans-serif; color: #222;">
    <h2>Reset your PHMS password</h2>
    <p>We received a request to reset your password. Click the link below to set a new one:</p>
    <p>
        <a href="{{ reset_url }}" style="color: #1b74e4;">Reset your password</a>
    </p>
    <p>This link expires in 30 minutes. If you did not request a reset, you can ignore this email.</p>
</body>
</html>
